body {
    position: relative;
}

.navbar {

}

.navbar-nav {
    margin:auto;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

.navbar-nav li .navbar-item {
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
}

.navbar-nav li .navbar-item:hover {
    color: #c2d6d6;
}

header#inicio{
    background-image: url(../../IMG/bg-main.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header#inicio {
    background-image: url(../../IMG/bg-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

header#inicio div.inicio-text {
    padding-top: 300px; 
    padding-bottom: 300px;   
    text-align: center;
}

div#equipa div.inicio-text {
    padding-top: 50px; 
    padding-bottom: 150px;   
    text-align: center;
}

