.navbar-default {
    border-color: transparent;
}

header {
    background-image: url("../../IMG/bg-main.jpg");
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #000;
    height: 1200px;
    width: 100%;
}