/* Geral */
body {
    position: relative;
}

/*Otmização Menu*/
@media (max-width: 767px)
{
    .navbar {
        background-color: #000;
    }

    a.navbar-brand{
        margin:auto;
    }
}

@media (max-width: 992px) 
{
    .container {
        font-size: 14px;
    }
}

/* Nav*/

.navbar-nav {
    margin:auto;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    transition: padding 0.3s linear 0.3s;
}

.navbar-nav li .navbar-item {
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
}

.navbar-nav li .navbar-item:hover {
    color: #c2d6d6;
}


/* Header */

header#inicio {
    background-image: url(../../IMG/bg-main.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

header#inicio div.inicio-text {
    padding-top: 25%; 
    padding-bottom: 25%;   
    text-align: center;
}

@media (max-width: 490px)
{
    div.inicio-text {
        font-size: 10px;
    }
}

/* Sections */

section#equipa div.inicio-text {
    padding-top: 50px; 
    padding-bottom: 150px;   
    text-align: center;
}

section#equipa div.inicio-text h1{
    padding-bottom: 50px;
}
